<!DOCTYPE html>
<html>
  <head>
    <title>VideoGameExchange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="content">
      <p>
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>.
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>.
        <% else %>
          Not signed in.
          <%= link_to "Sign in", new_user_session_path %>
          or
          <%= link_to "sign up", new_user_registration_path %>.
        <% end %>
      </p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
